div.create-container
  form.form-inline(action="/superheroes",  method="post")
    div.form-group.mb-2
      input.form-control(type="text", placeholder="suerhero name", required="required", name="superhero")
    div.form-group.mb-2
      button.btn.btn-primary Create